.section{
    background-color: rgb(182, 113, 255);
    width: 600px;
    height: 600px;
}

.container{
    width: 400px;
    height: 400px;
    background-color: rgb(29, 29, 59);
    margin: 50px 100px 100px 100px;
    position: fixed;
    
}
label{
    color: white;
    font-size:20px;
    padding: 20px;
    
}
input{
    margin-top: 40px;
    margin-left: 30px;
    width: 40px;
    height: 45px;

}
input:checked+label.inp{
    text-decoration:line-through;
    
}
button{
    background-color: rgb(38, 38, 80);
    color: white;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
    
}